@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* { box-sizing:border-box;
font-family: 'Open Sans', sans-serif;
 }

body, html {
	/*font-family: Helvetica;*/
	background-repeat: no-repeat;
	background-color:#555690;
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    min-height: 100%;
  -webkit-font-smoothing: antialiased;
  	padding: 25px 0;
  	color:#F0F8FA;
}
hgroup { 
	text-align:center;
}

h1, h3 { font-weight: 300; }

h1 { color: #ddd; }
form {
	width: 380px;
	/*height:500px;*/
	margin: 2em auto 0;
	padding: 3em 2em 2em 2em;
	background: #421c48;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
input {
	font-size: 18px;
	color: #636363;

}

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}