@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* { box-sizing:border-box;
font-family: 'Open Sans', sans-serif;
 }

body, html {
	background-color:#555690;
  	padding: 25px 0;
  	color:#F0F8FA;
}

div#grande{
	width: 80%;
	height: 600px;
	 position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.tiempoIcono{
	width: 100%;
	height: 350px;
	background-color: white;
}
.varios{
	width: 100%;
	height: 150px;}

.deto{width: 70%;height:150px;
float: left;background-color: black}
.fecha{
	width: 30%;
	float: right;
	background-color: #4DBDE2;
	height: 150px;
	padding: 20px;
}

span.cuanto{
	font-size: 8em;height:150px;
	padding-left: 40px;
}
span.donde{font-size: 3em;
padding-left: 20px;}

div.fecha span{
	font-size: 3em;
}
p.icon{
    text-align: center;
    padding-top: 3%;
    font-size: 3em;
}